/*
Were using this css fix to make ink line up under cursor properly.
https://stackoverflow.com/questions/68018558/problem-with-react-signature-canvas-offset-ink 
*/

.signature-wrapper {
    position: relative;
    width: 400px;
    height: 200px;

    border: 2px solid black;
    border-radius: 5px;
    color: #333;
    background-color: rgba(135, 206, 235, 0.3);
}

.signature {
    position: absolute;
    width: 100%;
    height: 100%;
}