.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;
}

.close-btn{
    position: absolute;
    top: 0;
    right: 0;
  }

/* .popup-inner {
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 640px;
    background-color: #FFF;
    border-bottom-left-radius: 5%;
} */

/* .popup-inner .close-btn {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: #b01b1f;
    border: solid 1px #b01b1f;
    color: #ffffff;
} */