.dashboardContainer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.navigation {
    z-index: 100;
}

.content {
    width: 100%;
    background-color: #f5f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
}