:root{
  --main-color: rgb(176, 27, 31);
  --second-color: rgb(117,126,133);
}

body {
  margin:0 10px;
}

h1 {
  margin-top: 25px;
  color: var(--main-color);
  font-weight: bolder;
}

#logo {
  margin-top: 5vw;
  width: 70%;
  margin-left: 15%;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  max-width:600px;
  margin: auto;
}
#userInput {
  display: flex;
  flex-direction: column;
}
#userInput div{
  width: 100%;
  /*margin: auto;*/
}
#userInput input{
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
  color: white;
  height: 20%;
  border: 3.5px solid var(--main-color);
  background-color: rgba(117,126,133, 0.5);
}
#firstLastName {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#userInput label{
  display: block;
  color: var(--second-color);
}
.userData {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.submitBtn {
  margin: 20px;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
  background-color: var(--main-color);
  color: white;
  /*border:3px solid var(--second-color);*/
  border: none;
  border-radius: 24px;
  font-size: larger;
  font-weight: bold;
}
.editField{
  margin: 20px 0;
}
.floatLeft{
  float:left;
}
.floatRight{
  float:right;
}
.clear {
  clear:both;
}
.emailListed{
  float:right;
  margin-right: 2rem;
}
.editControls{
  display: none;
}
.editGui {
  margin-bottom: 20px;
}
.editGui button {
  width: 20%;
  margin-right: 1em;
}
.editGui input {
  width: 50%;
  padding: 5px;
}
#doneButton{
  display: none;
}
#editPasscodeInput{
  visibility: hidden;
}
#submitEmailsButton{
  display: none;
}
