body {
  margin: 10px 20px;

}
span {
  width: 100%;
  justify-items: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#doneButton{
  display: none;
}
#editPasscodeInput{
  visibility: hidden;
}
#submitEmailsButton{
  display: none;
}
.editControls{
  display: none;
}
.clear {
  clear:both;
}
.centered {
  /*height: 100vh; /* Magic here */
  display: flex;
  justify-content: center;
  align-items: center;
}
.editing{
  display: none;
}
