*{
  box-sizing: border-box;
}
body {
  margin:0 10px;
  text-align: center;
  background-color: #B8BCBF;
}
.App {
  font-family: 'Open sans', sans-serif;
  max-width:600px;
  margin: auto;
}
#userInput {
  display: flex;
  flex-direction: column;
}
#userInput div{
  width: 100%;
  margin: auto;
}
#userInput input{
  width: 90%;
  margin: 10px;
  padding: 10px;
  font-size: 2rem;
  border-radius: 5px;
  color: #333;
  background-color:rgba(135, 206, 235, 0.3);
}
#firstLastName {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#userInput label{
  display: block;
}
.userData {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}
.submitBtn {
  margin: 20px;
  padding: 10px;
  width: 50%;
  margin: 10px auto;
}
.editField{
  margin: 20px 0;
}
.floatLeft{
  float:left;
}
.floatRight{
  float:right;
}
.clear {
  clear:both;
}
.emailListed{
  float:right;
  margin-right: 2rem;
}
.editControls{
  display: none;
}
.editGui {
  margin-bottom: 20px;
}
.editGui button {
  width: 20%;
  margin-right: 1em;
}
.editGui input {
  width: 50%;
  padding: 5px;
}
#doneButton{
  display: none;
}
#editPasscodeInput{
  visibility: hidden;
}
#submitEmailsButton{
  display: none;
}
.login {
  	width: 100%;
  	background-color: #ffffff;
  	box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
  	margin: 100px auto;
}
button {
  	width: 100%;
  	padding: 15px;
 	margin-top: 0px;
  	background-color: #B01B1F;
  	border: 0;
  	cursor: pointer;
  	font-weight: bold;
  	color: #ffffff;
  	transition: background-color 0.2s;
}
button:hover {
	background-color: #e82b30;
  	transition: background-color 0.2s;
}
.contact-info{
	text-align: center;
	padding: 10px;
	background-color: #B01B1F;
	color: #B8BCBF;
}
footer{
	background-color: #B01B1F;
	width: 100%;
	margin-left: 300px;
	margin-top: 10px;
	margin: auto;
}
